:root {
  --bg: #8681ac;
  --cardbg: #f9f9f4;
  --text: #2d2e46;
  --border: #2d2e46;
  --h1bg: #f3e896;
}
@font-face {
  font-family: magasine;
  src: url("Cute\ Notes.ttf");
}


* {
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: 'Quicksand', sans-serif;
  background-image: url(/images/stars.gif), linear-gradient(#8681ac, #f3e896);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-blend-mode: lighten, normal;
  background-size: auto;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1.5;
}

.header {
  padding: 0;
  font-size: 40px;
  background-image: url(/images/rubberducky.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: magasine;
  margin-bottom: 0;
}

.row, .header, .footer {
  margin: 0 10%;
}


.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
   background-color: var(--cardbg);
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: var(--cardbg);
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .row, .header, .footer {
    margin: 1%;
  }
}

/*---TEXT---*/
h1 {
  margin: -20px;
  text-align: center;
  font-size: 1.3em;
  background-color: var(--h1bg);
  margin-bottom: 0;
  letter-spacing: 0.5em;
}

a {
  text-decoration: none;
}

.header h2 {
  margin: 3vh;
  color: var(--cardbg);
}

img {
  width: 100%;
}

td{
  border:1px solid var(--text);
  padding: 10px;
}
td {
width: 30px;
height: 30px;
}

td img {
  font-smooth: never;
  -webkit-font-smoothing : none;
  image-rendering: optimizeSpeed; 
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated; 
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}