:root {
  --bg: #818dac;
  --contbg: #111111;
  --text: white;
  --border: white;
  --navbg: #111111;
  --font: "verycoolfont.tff";
  --bordersize: 1px;

  --startcomp: #ee3131;
  --endcomp: #36bb2a;
}
* {
  box-sizing: border-box 
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://preview.redd.it/c3du8b2ttoo51.png?auto=webp&s=436d95c8601206d52599b26cf7125a77f0dffe0a");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 100%;
  color: var(--text);
  
  font-smooth: never;
-webkit-font-smoothing : none;
image-rendering: optimizeSpeed;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
image-rendering: pixelated;
image-rendering: optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
}

.unused {
  -webkit-animation: bgScroll 10000s linear infinite;
  animation: bgScroll 10000s linear infinite;
}
@keyframes bgScroll{  
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 5000% 10000%;
  }
}
.container {
  margin: auto;
  width: 60%;
  background-color: var(--contbg);
  border: solid var(--border) var(--bordersize);
}
.content {
  padding: 0 30px;
}
/*---RESPONSIVE---*/
@media screen and (max-width: 800px) {
  .container {   
    width: 100%;
    padding: 0;
  }
  .flags {
    display: none;
  }
}
a {
  text-decoration-style: dotted;
  color: white;
}


/*---HEADER---*/
.header {
  width: 100%;
  margin: 10px 0 10px 0;
  height: 16vh;
  display:inline-flex;
  align-items:center;
}
#header pre {
  margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}
#header img {
  height: 90%;
}

/*---NAVBAR---*/
.navbar {
  padding-left: 17px;
  overflow: hidden;
  background-color: var(--navbg);
  border: solid var(--border) var(--bordersize);
  border-left: none;
  border-right: none;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--text);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--contbg);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--contbg);
  min-width: 160px;
  z-index: 1;
  border: solid var(--border) var(--bordersize);
}
.dropdown-content a {
  float: none;
  color: var(--text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: var(--contbg);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-conent:last-child {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% calc(100% - 20px), 0% 100%, 0% 0%); 
}

/*---TEXT---*/
p {
  line-height: 1.3em;
}
hr {
  border: none;
  height: 1px;
  color: var(--border);
  background-color: var(--border);
}


.flags {
  position: relative;
}
.flags img{
  width: 50%;
}
#flagsright {
  position:absolute;
  top: 0%;
  left: 80%;
}
#flagsleft {
  position:absolute;
  top: 0%;
  right: 80%;
  text-align: right;
}





#statuscafe {
  padding: .5em;
  border: solid var(--border) var(--bordersize);
}
#statuscafe-username {
  margin-bottom: .5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}


td, th  {
  border:1px solid white;
}
td {
height: 70px;
width: 40px;
background-image: url('/web/20230105211922im_/https://sep.neocities.org/FOTD/img_girl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: text-top;
  padding-bottom: 0;
}







.outer {
  background-color: white;
  width: 100%;
  padding: 1px;
  height: 30px;
  position:relative;
}
.outer>div {
  height: 100%;
  -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
  color: white;
}
.outer>div::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-image: linear-gradient(to right, red, yellow, green); /* your gradient here */
}
#inner1 {
  width: 50%;
}
#inner2 {
  width: 4%;
}