
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: pxl;
  src: url(/fonts/pixelTF.woff);
}
@font-face {
  font-family: fatboy;
  src: url(/fonts/2Credits.ttf);
}
* {
  box-sizing: border-box;
}
td, th  {
    border:1px solid white;
}

  body {
    font-family: MS Gothic, pxl, sans-serif;
    background-color: transparent;
    color: white;
    font-size: smaller;
  }
  .content {
    border-radius: 2px;
    outline: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
    transition: outline 0.3s ease, box-shadow 0.3s ease;
  }
  .contentright, .contentleft {
    transition: outline 0.3s ease, box-shadow 0.3s ease;
  }
.content:hover, .contentleft:hover, .contentright:hover{
  outline: 1px solid rgb(175, 175, 175);
  box-shadow: 0px 0px 20px grey;
}
  hr
  {
      background-color: grey;
      border: 0 none;
      color: grey;
      height: 1px;
  }
  h1 {
    color: #a31d1d;
    font-size: 25px;
    margin: 0;
    font-family: fatboy;
    text-transform: uppercase;
    line-height: 18px;
}
a {
  color: brown;
}
a:not(:has(img)) {
  color: brown;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:not(:has(img))::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:not(:has(img)):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

span {
  color: brown;
}
marquee {
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a31d1d; 
}

.content, .contentleft, .contentright {background-color: black;}

ul { list-style-type: "✧ ";}
summary { list-style-type: "✦ ";}
summary{
  margin-left: -21px;
}

.bar {
  border-bottom: solid 1px grey; 
  margin-left: -10px; 
  margin-right: -10px; 
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: grey;
  background-color: rgba(128, 128, 128, 0.329);
}
.bar::after {
  content: "- ☐ X";
  float: right
}
.content:has(.bar) {
  padding-top: 0;
  margin-bottom: 10px;
}
.contentleft:has(.bar) {
  padding-top: 0;
  margin-bottom: 10px;
}
.contentright:has(.bar) {
  padding-top: 0;
  margin-bottom: 10px;
}
.contentleft {
  border-radius: 2px;
  outline: 1px solid grey;
  padding: 10px;
  width: 49%;
  display: inline-block;
  margin-bottom: 10px;
}
.contentright {
  border-radius: 2px;
  outline: 1px solid grey;
  padding: 10px;
  width: 49%;
  float: right;
  margin-bottom: 10px;
}


.tooltip {
  position: relative;
  cursor: pointer;
  text-decoration: underline dotted;
  color: inherit;
}

.tooltip-info {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tooltip::before {
  content: attr(tooltip);
  position: absolute;
  top: 1.5em;
  border-radius: 2px;
    outline: 1px solid grey;
    box-shadow: 0px 0px 10px #888888;
  padding: 5px;
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  transition: opacity 0.1s ease-out;
  z-index: 99;
  text-align: left;
}

.tooltip:hover::before {
  display: inline-block;
}
.tooltip:hover {
  cursor: help;
}