
* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: fatboy;
    src: url(/fonts/2Credits.ttf);
  }
  
  @font-face {
    font-family: pixel;
    src: url(/fonts/IsWasted.ttf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
  :root {
    --main: #a60808;
    --span: #a60808;
    --link: #a60808;
    --bg: black; 
    --outline: grey;
    --reserved: #a31d1d;
  }
  @keyframes scrollBackground {
    to {
      background-position: 100% 100%;
    }
  }
  body {
      font-family: MS Gothic, pxl, sans-serif;
      background-color: black;
      color: white;
      background-color: var(--bg);
      background-image: url(/images/stars.gif);
      font-size: smaller;
      background: repeating-conic-gradient(#000000 0% 25%, #161616 25% 50%);
      background-size: 70px 70px;
      animation: scrollBackground 50s linear infinite;
      line-height: 13px;
    }
  .header h1 {
      color: var(--main);
      font-size: 40px;
      text-align: left;
      margin: 0;
      font-family: pixel;
  }
  .header{
    border-radius: 2px 200px 2px 2px;
      outline: 1px solid var(--main);
      margin: 8px;
      height: 100px;
      background-image: linear-gradient(0deg, #000000 0%, transparent 100%), linear-gradient(90deg, black 0%, transparent 50%), url(/images/hanukkah.png);
      background-position:  0 0 , 0 0, 50% 60%;
      background-size: auto, auto, cover;
      transition: outline 0.3s ease, box-shadow 0.3s ease;
      pointer-events: auto;
  }
  .htint {
    position: relative;
    pointer-events: none;
  }
  .htint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main);
    mix-blend-mode: hue;
  }
  .container {
    margin: 0 auto;
    width: 800px;
    position: relative;
      }
      .sidebar {
          width: 20%;
          float: left;
          padding: 7px;
          padding-top: 0;
      }
      .main {
          width: 80%;
          float: right;
          padding: 7px;
          padding-top: 0;
      }
      
  .marquee {
    position: relative;
    width: 100vw;
    height: 15px;
    font-family: MS Gothic, pxl;
    max-width: 100%;
    color: white;
    overflow-x: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  @keyframes neonpulsate {
    100% {
      opacity: 1;
    }
   77% {
      opacity: 0.85;
    }
    76% {
      opacity: 1;
    }
    
    12% {
      opacity: 0.82;
    }
    11% {
      opacity: 1;
    }
  }
  .content {
      border-radius: 2px;
      outline: 1px solid var(--outline);
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 20px;
      position: relative;
    }
    .contentright, .contentleft {
      outline: 1px solid var(--outline);
      margin-top: 20px;
      position: relative;
    }
    .content:before, .contentleft:before, .contentright:before {
      background: none;
      border: 1px solid #333333;
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      pointer-events: none;
    }
    hr
    {
        background-color: var(--outline);
        border: 0 none;
        color: var(--outline);
        height: 1px;
    }
    .content h1, .contentleft h1, .contentright h1 {
      color: var(--main);
      font-size: 25px;
      margin: 0;
      font-family: fatboy;
      text-transform: uppercase;
      line-height: 18px;
      position: relative; top: -17px; font-size: 40px;
      z-index: 10;
      background-color: black;
      display: inline-block;
      margin-bottom: -10px;
  }
  a {
    color: var(--link);
    text-decoration: none;
  }
  a:not(:has(img)) {
    color: var(--link);
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  a:not(:has(img))::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a:not(:has(img)):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  span {
    color: var(--span);
  }
  marquee {
    margin-bottom: 10px;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main); 
  }
  
  .content, .contentleft, .contentright {
    background-color: var(--bg);
    background-image: url("/images/binary.gif");
  }
  
  ul { list-style-type: "> ";}
  summary { list-style-type: "> ";}
  li > a {
  color: white;
  }
  ul {
    list-style: none;
  }
  ul li::before {
    content: ">";
    color: grey;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  ul > ul > li::before {
    content: ">> ";
    color: grey;
    font-weight: bold;
    display: inline-block; 
    width: 1.5em;
    margin-left: -1.5em;
  }
  
  
  .bar {
    border-bottom: solid 1px var(--outline); 
    margin-left: -10px; 
    margin-right: -10px; 
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: grey;
    background-color: rgba(128, 128, 128, 0.329);
  }
  .bar::after {
    content: "- â˜ X";
    float: right
  }
  .contentleft {
    border-radius: 2px;
    padding: 10px;
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
  }
  .contentright {
    border-radius: 2px;
    padding: 10px;
    width: 49%;
    float: right;
    margin-bottom: 10px;
  }
  
  
  .tooltip {
    position: relative;
    cursor: pointer;
    text-decoration: underline dotted;
    color: inherit;
  }
  
  .tooltip-info {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .tooltip::before {
    content: attr(tooltip);
    position: absolute;
    top: 1.5em;
    border-radius: 2px;
      outline: 1px solid grey;
      box-shadow: 0px 0px 10px #888888;
    padding: 5px;
    display: none;
    color: white;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 4px;
    transition: opacity 0.1s ease-out;
    z-index: 99;
    text-align: left;
  }
  
  .tooltip:hover::before {
    display: inline-block;
  }
  .tooltip:hover {
    cursor: help;
  }
  .center {
                  width: 40%;
                  margin-left: auto;
                  margin-right: auto;
                  display: block;
              }
              .hidden {
              display: none;
          }
          #clickelement:hover {
    cursor: pointer;
  }
  .image-container {
    position: relative;
    float: right;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 31px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: none;
  }
  
  .image-container:hover .text-overlay {
    display: block;
  }
  ul {
    padding-left: 20px;
  }
  @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
  #artwork{
    margin-bottom: 10px;
    width: 95%;
    animation: spin 3s linear infinite;
    transition: animation 0.3s ease;
  }
  #artwork:hover {
    animation-play-state: paused; /* Pause the animation on hover */
  }
  span {
    color: var(--main);
  }
  summary{
    margin-left: -21px;
  }
  li marquee {
    margin: 0;
  }
  ul > h1 {
    margin-left: -20px;
    margin-top: 10px;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main); 
  }
  ul > ul {
    padding-left: 7px;
  }
  
  ul > span {
    margin-left: -14px;
    color: white;
  }
  li>a {
    color: brown;
  }
  .tint > a {
    position: relative;
    float: left;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
  }
  
  .tint > a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main);
    mix-blend-mode: hue;
  }
  .tint >a:hover::before {
      background: transparent;
  }
  .context {
      display: block;
      margin-top: -13px;
  }
  .hiii {
    font-family: MS Gothic, pxl;
    font-size: 15px;
    color: grey;
    display: inline-block;
    text-align: left;
  }
  
  
  @keyframes neonpulsate {
    100% {
      opacity: 1;
    }
   77% {
      opacity: 0.85;
    }
    76% {
      opacity: 1;
    }
    
    12% {
      opacity: 0.82;
    }
    11% {
      opacity: 1;
    }
  }
  .blink{
      animation:blinkingText 1.0s infinite;
  }
  .neon {
    animation: neonpulsate 0.35s ease-in-out infinite alternate;
    z-index:-1000;
    text-shadow:
        0 0 4px #fff,
        0 0 11px brown,
        0 0 10px #a52a2a7e,
        0 0 15px #a52a2a7e,
        0 0 20px #a52a2a7e,
        0 0 30px #a52a2a7e,
        0 0 35px #a52a2a7e,
        0 0 40px #a52a2a7e;
  }
  
  @media screen and (prefers-reduced-motion) { 
    .neon {
      animation: none;
    }
  }
  @font-face {
    font-family: jpn;
    src: url(/fonts/Almost\ Japanese\ Comic.ttf);
  }
  .bitemyass {
    position: absolute;
    left: -110px;
  }
  .bitemyass > h1 {
    writing-mode: vertical-rl;
    width: 60px;
    font-family: 'Rubik Moonrocks', sans-serif;
    line-height: 30px;
    font-size: 50px;
    color: #ffb5b5;
  }
  .warning {
    opacity: 0.6;
    font-size: 16px;
    line-height: 18px;
  }
  #hypnotoad:hover + .warning{
    opacity: 1;
  }
  #hypnotoad:hover {
    cursor: help;
  }
  .dragg {cursor:move;}
  #s-m-t-tooltip {
    max-width: 300px;
    z-index: 1000;
    margin: 24px 14px 7px 12px;
    padding: 4px;
    background: black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid grey;
    -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 2px 2px 0 rgba(0,0,0,0.15);
    font-family: 'MS Gothic';
    color: white;
}
tooltip {
  cursor: pointer;
  text-decoration: underline dotted;
}