:root {
    --header-image: url('https://i.pinimg.com/originals/09/1c/c9/091cc95737fd417103a9e805e0d779a8.jpg');
    --body-bg-image: url('https://sadhost.neocities.org/images/tiles/purplesky.gif');

    --content: #111111;
    --navbarbg: var(--content);
    --bg: #000000;
    --h: white;
    --text: #d2f1ff;
    --strong: grey;

    --br: 0px;
    --bc: #00bbd4;
    --bw: 1px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #08031A;
    background-size: 65px;
    color: var(--text);
    background-color: var(--bg);
}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}
#container a {
    color: var(--text);
    font-weight: bold;
}

#header {
    width: 100%;
    background-color: var(--content);
    height: 250px;
    margin-bottom: 10px;
    background-image: var(--header-image);
    background-size: 100%;
    background-position: 50%;
    border-radius: var(--br);
    border: var(--bw) solid var(--bc);
    padding: 10px;
    font-size: 100px;
}
#navbar {
    height: 40px;
    background-color: var(--navbarbg);
    width: 100%;
    padding: 1px;
    border-radius: var(--br);
    border: var(--bw) solid var(--bc);
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}
#navbar li a {
    color: var(--text);
    font-weight: 800;
    text-decoration: none;
}
#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--text);
    padding: 8px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--bg);
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg);
    min-width: 160px;
    z-index: 1;
    border-radius: var(--br);
    border: var(--bw) solid var(--bc);
  }
  .dropdown-content a {
    float: none;
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: var(--contbg);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

#flex {
    display: flex;
}
aside {
    background-color: var(--content);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    border-radius: var(--br);
    border: var(--bw) solid var(--bc);
}
main {
    background-color: var(--content);
    flex: 1;
    padding: 20px;
    order: 2;
    border-radius: var(--br);
    border: var(--bw) solid var(--bc);
}

#leftSidebar {
    order: 1;
}

footer {
    background-color: var(--content);
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: var(--br);
    border: var(--bw) solid var(--bc);
    margin-top: 10px;
}

h1,
h2,
h3 {
    color: var(--h);
    font-size: 20px; 
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    border-left: 4px solid #00bbd4;
    background-image: linear-gradient(to right,#053b42, var(--content));
}

h1 {
    font-size: 25px;
}
p {
    line-height: 1.3em;
}
strong {
    color: var(--strong);
}
img {
    width: 30%;
}

.box {
    background-color: var(--bg);
    padding: 10px;
}
@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
        margin-right: 0!important;
    }
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

  



td, th  {
    border:1px solid white;
  }
  td {
  height: 70px;
  width: 40px;
  background-image: url('/web/20230105211922im_/https://sep.neocities.org/FOTD/img_girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-top;
    padding-bottom: 0;
  }

  .outer {
    background-color: white;
    width: 100%;
    padding: 1px;
    height: 30px;
    position:relative;
  }
  .outer>div {
    height: 100%;
    -webkit-mask:linear-gradient(#fff 0 0);
            mask:linear-gradient(#fff 0 0);
    color: white;
  }
  .outer>div::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(to right, red, yellow, green); 
  }
  #inner1 {
    width: 50%;
  }
  #inner2 {
    width: 4%;
  }