
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: pxl;
  src: url(pixelTF.woff);
}

* {
  box-sizing: border-box;
}
td, th  {
    border:1px solid white;
}

  body {
    font-family: MS Gothic, pxl, sans-serif;
    background-color: transparent;
    color: white;
  }
  .content {
    border-radius: 2px;
    outline: 2px solid grey;
    padding: 10px;
    margin-bottom: 10px;
  }
  hr
  {
      background-color: grey;
      border: 0 none;
      color: grey;
      height: 1px;
  }
  h1 {
    color: #a31d1d;
    font-size: 20px;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    margin-top: 4px;
}
a {
  color: brown;
}
span {
  color: #a31d1d;
}
marquee {
  margin-bottom: 10px;
}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a31d1d; 
}