---
title: septic.lol
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>𝚜𝚎𝚙𝚝𝚒𝚌.𝚕𝚘𝚕</title>
        <script>
          if (window.location.href.indexOf("sep.neocities.org") > -1) {
            window.location.href = "https://septic.lol/";
          }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" type="text/javascript"></script>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="viewport" content="width=1000;"/>
        <link rel="icon" type="image/x-icon" href="/images/eyebal.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>

<div class="crt">

<img id="hypnotoad" src="/images/hypnotoad.gif" style="position: fixed; bottom: 0; right: 10px; width: 150px; z-index: 10000;">
<p class="warning" style="color: white; font-family: MS Gothic; position: fixed; bottom: 110px; right: 0; width: 200px;">⚠️!! WARNING: SEIZURE INDUCING IMAGERY & OBNOXIOUSLY LOUD NOISES UPON CLICK !!⚠️</p>
<img id="hypnoGif" src="/images/hypogif.gif" style="position: fixed; bottom: 0; z-index: 1000; width: 100%; mix-blend-mode: multiply; display: none;">
<a href="https://oudkee.neocities.org/"> <img src="/images/daat.png" title="Oudkee is where i found out how to make these cool graphics!!" style="position: fixed; bottom: -10px; left: 10px; z-index: 100; width:200px; transform: scaleX(-1) "></a>

<div class="container">

  <div>{% include "partials/header.njk" %}</div>

  <div class="sidebar">
    <div>{% include "partials/navbar.njk" %}</div>
  </div>

  <div class="main">
    {{ content | safe }}
    
  <div>{% include "partials/footer.njk" %}</div>
  </div>

</div>



</div>

<script src="/js/tooltips.js"></script>
<script>
  $(document).ready(function() {
    $('.content:has(.bar), .contentleft:has(.bar), .contentright:has(.bar)').each(function() {
      $(this).css('padding-top', '0');
      $(this).css('margin-bottom', '10px');
    });

    $('.content:has(.bar) h1, .contentleft:has(.bar) h1, .contentright:has(.bar) h1').each(function() {
      $(this).css('font-size', '25px');
      $(this).css('display', 'block');
      $(this).css('position', 'initial');
      $(this).css('margin-bottom', '0');
    });
  });
</script>
<script> (function($){ $(document).ready(function(){ $("[title]").style_my_tooltips(); }); })(jQuery); </script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">$( ".dragg" ).draggable();</script>
</body>
</html>