<div style="text-align: center;">
  <p id="randomHeader" style="font-size: 16px; position: absolute; right: 20px; max-width: 500px; text-align: right; top: 60px; font-family: MS Gothic; color: white; z-index: 100; align-self: flex-end;">loading...</p>
  
      <div class="header">
      <div class="htint">
        <span class="hiii" style="padding-top: 25px; width: 760px; position:relative; top: 10px;">bibo ergo sum</span>
        <div style="width: 260px;">
          <h1 style="display: inline-block; text-align: left; padding-top: 5px; line-height: 60px; padding-left: 10px">SEPTIC.lol</h1>
        </div>
      </div>
    </div>
      </div>
      <div class="marquee">
        <div class="track">
          <div>&nbsp;<span style="color: var(--main);">septic</span> | /ˈsɛptɪk/ | adjective | infected with microorganisms, especially harmful bacteria | "his feet had gone septic" | noun | denoting a drainage system incorporating a septic tank. | <span style="color: var(--main);">septic</span> | /ˈsɛptɪk/ | adjective | infected with microorganisms, especially harmful bacteria | "his feet had gone septic" | noun | denoting a drainage system incorporating a septic tank. |</div>
        </div>
      </div>