<div class="content" class="navbar" id="navbar">
  <h1>nav</h1>
  <ul style="margin-top: -10px;">
    <span>personal</span>
    <li><a href="/index.html" title="go home">home</a></li>
    <li><a href="/pages/about.html" title="some boring stuff about me.">about</a></li>
    <li><a href="/pages/yearinpixels.html" title="documenting each and every deadful day">yearinpixels</a></li>
    <li><a href="/XMB/index.html" title="some of the games i like!">games</a></li>
    <li><a href="/pages/ratingfuturama.html" title="im supposed to be rating every episode of the simpsons and futurama but i havent got round to that.">ratings</a></li>
    <li><a href="/pages/quizzes.html" title="colourful images & relatable characters that give you a broader idea about my boring self!!!!">quizzes</a></li>
    <span>nerdzone</span>
    <li><a href="/pages/trektuesdays.html" title="trek on tuesdays">trek-tuesdays</a></li>
    <li><a href="/pages/starships.html" title="cool starships but only on saturdays">starships</a></li>
      <li><a href="/pages/shrines/hypnotoad.html" title="ALL GLORY TO THE HYPNOTOAD"><i>HYPNOTOAD</i></a></li>
      <li><a href="#" title="also a wip.. please bear with me">eric kaplan</a></li>
    <span>creative</span>
    <li><a href="/pages/zines.html" title="some of my art. kinda very broken (until i say so) EDIT: fixed">art</a></li>
    <li><a href="/pages/pixelclubs.html">pixelclubs</a></li>
    <li><a href="/pages/blog.html" title="check out some not so interesting things ive written!">blog</a></li>
    <li><a href="/pages/scrobble.html" title="widly unfinished page attempting to display my last fm stats for the month">last fm stats</a></li>
    <li><a href="/code/widgets.html" title="dont click this">widgets</a></li>
    <span>site</span>
    <li><a href="/pages/history.html" title="this page might not exist, dunno, havent tried it.">site history</a></li>
    <li><a href="/pages/map.html" title="this page does not exist!">site map</a></li>
  </ul> 
  <a href='https://webring.dinhe.net/prev/septic.lol'><<</a>
  <a href="https://webring.dinhe.net/">retronaut</a>
  <a href='https://webring.dinhe.net/next/septic.lol'>>></a>
  <div id=neorings-neorings-container>
    <a href="https://neorings.org/api/webring/1/previous?via=https%3A%2F%2Fsep7ic.github.io"><<</a>
    <a href="https://neorings.org/api/webring/1/random">⟳</a>
    <a href="https://neorings.org/webring/1/">Neorings</a>
    <a href="https://neorings.org/api/webring/1/next?via=https%3A%2F%2Fsep7ic.github.io">>></a>
    <br>
  </div>
  <div id=neorings-penguinnerds-container>
<a href="https://neorings.org/api/webring/11/previous?via=https%3A%2F%2Fsep7ic.github.io"><<</a>
<a href="https://neorings.org/webring/11/">penguinNerds</a>
<a href="https://neorings.org/api/webring/11/next?via=https%3A%2F%2Fsep7ic.github.io">>></a>
</div>

<div id=neorings-insect-gang-container>
<a href="https://neorings.org/api/webring/10/previous?via=https%3A%2F%2Fsep7ic.github.io"><</a>
<a href="https://neorings.org/api/webring/10/random">⟳</a>
<a href="https://neorings.org/webring/10/">Insect Gang</a>
<a href="https://neorings.org/api/webring/10/next?via=https%3A%2F%2Fsep7ic.github.io">></a>
</div>
  <div id=neorings-groering-container>
    <img src="/images/groering.png" usemap="#groering" style="width: 100%;">
      <map name="groering">
      <area target="_blank" alt="GROERING" title="GROERING" href="https://neorings.org/webring/6/" coords="25,8,120,30" shape="rect">
      <area target="_blank" alt="RANDOM" title="RANDOM" href="https://neorings.org/api/webring/6/random" coords="50,30,95,55" shape="rect">
      <area target="_blank" alt="PREV" title="PREV" href="https://neorings.org/api/webring/6/previous?via=https%3A%2F%2Fsep7ic.github.io" coords="25,30,50,55" shape="rect">
      <area target="_blank" alt="NEXT" title="NEXT" href="https://neorings.org/api/webring/6/next?via=https%3A%2F%2Fsep7ic.github.io" coords="95,55,120,30" shape="rect">
      </map>
  </div>
</div>
<script src="/js/head.js"></script>

<div class="content">
<div class="bar">status.js</div>
<div id="statuscafe">
<div id="statuscafe-username" style="display: inline-block;"></div>
<div id="statuscafe-timeago" style="color: grey; font-size: smaller; display: inline-block;"></div>
<div id="statuscafe-content"></div>
</div><script src="/js/status.js" defer></script>
<a href="https://www.imood.com/users/septic"><img src="https://moods.imood.com/display/uname-septic/fg-A52A2A/bg-000/imood.gif" style="margin-top: 5px;" alt="The current mood of septic at www.imood.com" border="0"></a>
</div>
            <!--LAST.FM-->
<div class="content" style="position: relative;">
<style>
.imgclipcentre {height: 20px; width: 20px; background-color: #000; top: 111px; left: 59px; border-radius: 100%; position: absolute;} .artworkimg {clip-path: circle(50%);}
</style>
<div class="bar">lastfm.mp3</div>
<section id="listen">CANT FETCH</section>
<hr>
<a href="" id="artworklink" target="_blank" style="display: block;"><img id="artwork" src="" class="artworkimg">
<div class="imgclipcentre"></div>
<marquee id="track" direction="left" style="color: white; margin-bottom: 0;"></marquee></a>
</div>

<!--FRIENDS-->
<div class="content">
    <span>friends!!</span>
    <hr>
    <a href="https://wiichicken.neocities.org/"><img src="https://wiichicken.neocities.org/button.gif" style="image-rendering: pixelated;" alt="Visit wiichicken's website"></a>
    <a href="https://mechagic.neocities.org/" target="_blank"><img src="https://i.ibb.co/pjNYks8/button-2-0.png"></a>
</div>

<!--EARTHQUAKE-->
<div class="content">
    <a href="https://www.geonet.org.nz/earthquake/unnoticeable" target="_blank" style="float: right; text-decoration: none; color: white;">ⓘ</a>
most recent <span>earthquake</span> in NZ
    <hr>
    <section id="eqMag">Mag:</section>
    <section id="eqLoc"></section>
    <section id="eqDep"></section>
    <abbr class="timeago" id="time" title="">time</abbr>
</div>

<script>
  $(document).ready(function() {
var equrl = "https://api.geonet.org.nz/quake?MMI=0";
$.getJSON(equrl, function(data) {
var mag = data.features[0].properties.magnitude;
var loc = data.features[0].properties.locality;
var dep = data.features[0].properties.depth;
var time = data.features[0].properties.time;

console.log(mag)
console.log(time)

$("#eqMag").html("Mag: " + Math.round((mag + Number.EPSILON) * 100) / 100);
$("#eqLoc").html(loc);
$("#eqDep").html("Depth: " + Math.round((dep + Number.EPSILON) * 100) / 100 + "km");
$("#time").attr("title", time);
jQuery(document).ready(function() {
jQuery("abbr.timeago").timeago(); 
});
});
});


$(document).ready(function() {
var url = "http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=sep7ic&api_key=afc213709a996ae561e307f596c9952b&format=json";
$.getJSON(url, function(data) {
var artist = data.recenttracks.track[0].artist["#text"];
var song = data.recenttracks.track[0]["name"];
var artwork = data.recenttracks.track[0].image[3]["#text"];
var link = data.recenttracks.track[0]["url"];


$("#artwork").attr("src", artwork);
$('#track').html("\
  <strong>"+song+"</strong><br />\
  "+artist+"\
");
$("#artworklink").attr("href", link)

if (typeof data.recenttracks.track[0]["@attr"] != "undefined"){
        $("#listen").html('<span style="color: green;">listening</span> to:')
        console.log("true")
        $("#status").html('<span style="color: green;">online</span>')
} else {
  $("#listen").html("last <span>listened</span> to:")
    console.log("false")
}
});
});

</script>

<script>
  let isHypnoActive = false;
  const hypnotoad = document.getElementById('hypnotoad');
  const hypnoGif = document.getElementById('hypnoGif');
  var audio = new Audio("https://files.catbox.moe/i12uj0.mp3")
  var allglory = new Audio("https://files.catbox.moe/axgicu.mp3")
  hypnotoad.addEventListener('click', toggleHypno);

  function toggleHypno() {
      isHypnoActive = !isHypnoActive;

      if (isHypnoActive) {
          hypnoGif.style.display = 'block';
          audio.loop = true
          allglory.loop = true
          audio.play()
          allglory.play()
          
      } else {
          hypnoGif.style.display = 'none';
          audio.pause();
          allglory.pause()
      }
  }
</script>